<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
    
		<add name="DiseñoJunio.My.MySettings.strConexion" connectionString="workstation id=ClinicaBase.mssql.somee.com;packet size=4096;user id=medrano09_SQLLogin_1;pwd=4lrb9p82cn;data source=ClinicaBase.mssql.somee.com;persist security info=False;initial catalog=ClinicaBase"
		   providerName="System.Data.SqlClient" />
		
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>